.button {
    border: #f3f3f3 1px solid;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;

    background-color: #f3f3f3;
    color: #000000;
    font-weight: bold;

    box-sizing: border-box;

    &:hover {
        border: #6F7377 1px solid;
    }
}