.search__input__container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.search__input__icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 16px;
}

.search__input {
    width: 100%;
    height: 40px;
    border-radius: 24px;
    border: 1px solid #E0E0E0;
    padding: 0 16px 0 48px;
    background-color: transparent;
    color: #000;

    &:focus {
        outline: 2px solid #6F7377;
        outline-offset: 2px;
    }
}

.search__input__close {
    position: absolute;
    right: 16px;
    cursor: pointer;
}   