.skeleton-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.url {
  width: 25%;
  height: 16px;
}

.title {
  width: 50%;
  height: 18px;
}

.description {
  width: 100%;
  height: 16px;
}

.skeleton {
  display: inline-block;
  background: #e6eef6;
  position: relative;
  overflow: hidden;
  min-height: 12px;
  line-height: 1;
  border-radius: 2px;
}


.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  transform: skewX(-20deg);
  background: linear-gradient(
    90deg,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.5) 50%,
    rgba(255,255,255,0) 100%
  );
  pointer-events: none;
  opacity: 0;
  opacity: 1;
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  0% {
    left: -150%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 150%;
  }
}

.skeleton-wrapper {
  width: 70%;
  align-self: flex-start;
  margin-bottom: 24px;
}
