.search__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 90px);

}

.search__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    height: 100%;
    
    @media (min-width: 600px) {
        width: 560px;
    }
}