.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: var(--background);
    border-bottom: 1px solid #E0E0E0;
}
.header__logo {
    cursor: pointer;
}

.header__title {
    font-size: 16px;
    font-weight: 400;
    color: #000;

    span {
        font-weight: 600;
        color: #000;
    }
}

.header__menu__container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__menu__icon {
    font-size: 24px;
    color: #000;
}

.header__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}