.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: var(--background);
    border-bottom: 1px solid #E0E0E0;

    position: absolute;
    top: 0;
    width: 100%;

    z-index: 99;
}

.header__logo__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    width: 100%;
    
    @media (min-width: 600px) {
        width: 600px;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
}

.header__logo__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__logo {
    cursor: pointer;
}

.header__title {
    font-size: 16px;
    font-weight: 400;
    color: #000;

    span {
        font-weight: 600;
        color: #000;
    }
}

.header__menu__container {
    display: none;

    @media (min-width: 600px) {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.header__menu__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__menu__icon {
    font-size: 24px;
    color: #000;
}

.header__profile__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}