.footer {
    background-color: #f3f3f3;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6F7377;

    position: absolute;
    bottom: 0;
    width: 100%;
}