.footer {
    background-color: #eeeeee;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6F7377;

    position: absolute;
    bottom: 0px;
    width: 100%;

    font-size: 14px;
}